body {
	background-color: rgb(107, 107, 241);
	font: normal 15pt Arial;
}

header {
	color: #ffffff;
	text-align: center;
}

section {
	background-color: #ffffff;
	border-radius: 10px;
	padding: 15px;
	width: 500px;
	margin: auto;
	text-align: center;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

footer {
	color: #ffffff;
	text-align: center;
	font-style: italic;
}

#flista_div {
	margin-left: 10px;
	width: 150px;
	padding: 5px 5px;
}

#flista {
	width: 150px;
	padding: 5px 5px;
}
